__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log

venv/
.env
.venv/



*.joblib


.vscode/
.idea/
*.swp


*.egg-info/
dist/
build/


*.pid
*.tar
docker-compose.override.yml


.DS_Store
Thumbs.db
